
	#main_container { width: 708px; margin: 0 auto; }

	#sidebar { float: none; width: 100%; line-height: 22px; }

	.logo { margin: -1px 0px 0px 0px; float: left; max-width: 300px; height: inherit; }

	#sidebar ul { float: right; margin: 0px 0px 0px 0px; width: 150px; }

	.side_text_cont { display: none; }

	

	#content_cont { width: 100%; float: none; }

	#slideshow_cont { width: 708px; }

	#slideshow { width: 708px; height: 217px; }

	#slideshow img { width: 708px; height: 217px; }	

	

	.slide_prev { left: 25px; top: 90px; }

	.slide_next { right: 25px; top: 90px; }	

	

	.home_post_box { width: 236px; height: 179px;  }

	.home_post_box img { width: 236px; height: 179px; }	



	.home_post_box_hover { left: 10px; top: 10px; width: 216px; height: 159px; }

	

	#single_cont { float: left; width: 520px; padding-top: 15px; }

	.single_inside_content img { max-width: 520px; height: inherit; }

	.blog_box_img { width: 520px; height: 257px; position: relative; }

	.blog_box_img img { width: 520px; height: 257px; }	

	.blog_box_img_hover { top: 15px; left: 15px; width: 460px; height: 227px; padding: 0 15px; }

	

	#sidebar_right {  width: 150px; margin-top: 25px; }

	.t1_search_cont { position: relative; width: 150px; }

	.t1_search_cont input[type=text] { width: 130px;  }	
