    .soundcloudIsGold{
    background-size:425px 425px;
    background-repeat:no-repeat;
    height: 425px;
    width: 425px;
    margin:  0;
    padding:  0;
    }
    
    .soundcloudIsGold > ul > li{
    font-family: "hoti";
    font-size: 35px;
    height: 35px;
    width: 35px;
    color: #000;
    list-style-type: none;
    cursor: pointer;
    padding: 0 0 0 0;
    
    }
            .soundcloudIsGold > ul > li{
		 background:url('data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=');
		 background-size:28px 28px;
		 background-repeat:no-repeat;
		 background-position: center center;
    }
    
    .soundcloudIsGold > ul{
        padding-left: 0;
        padding-top: 100px;
    }

/* 	.soundcloudIsGold > ul > .pause:after {
		content: "Pausar";
	}
	

	.soundcloudIsGold > ul > .play:after {
		content: "Reproducir";
	} */
	
	
	.soundcloudIsGold > ul > .pause:after {
		content: "Pausar";
	}
	
	.soundcloudIsGold > ul > .play:after {
		content: "Reproducir";
	}
	
	.soundcloudIsGold > ul > #next:after {
		content: "Siguiente";
	}
	
	.soundcloudIsGold > ul > #prev:after {
		content: "Anterior";
	}
	
	.soundcloudIsGold > ul > #playlist:after {
		content: "t";
	}
	
	.soundcloudIsGold > ul > .downloadable:after {
		content: "Descargar";
	}