
	
	#footer { padding: 0; margin-top: -10px; text-align: center;}
	

	#main_container { width: 300px; margin: 0 auto; }

	#sidebar { float: none; width: 100%; line-height: 22px;}

	#sidebar ul li a { padding: 7px 6px; }
	#sidebar ul  { 
		margin: 10px 0;
		
	}

	.side_text_cont { display: none; }

	.side_social { display: none; }

	.menu-alone{
		font-size: 30px !important;
		float: right;
		margin-top: -60px;
		top: 0px;
		display: block;
		
	}
	
	.logo{	
		height: 80px;
		width: 80px;
		margin-top: -1px;
		margin-left: 0;
	}

	#category_menu, #cat_menu {
		/*display: none;*/
		position:  absolute;
		background-color: #000;
		font-size: 12px !important;
		width: 150px;
		
	}
	
	
	.menu{
		visibility: collapse;
	}
	
	#menu{
		float: right;
		background-color: #000;
		font-size: 12px !important;
		width: 150px;
	}
	.single_title{
		display: none;
	}
	
	.single_inside_content{
		margin-top: -90px;
	}
	#content_cont{
		margin-top: 0px;
	}
	
	#sidebar_right { display: none; }

	#sidebar{
}

.single_inside_content{
	max-height: 300px;
    height: 300px;
}

	#slideshow_cont { display: none; }

	

	#content_cont { width: 100%; float: none; }

	

	.home_post_box { float: none; width: 300px; height: 228px; }

	.home_post_box img { width: 300px; height: 228px; }		

	.home_post_box_hover { left: 15px; top: 15px; width: 270px; height: 198px;   }

	.single_inside_content img { max-width: 300px; height: inherit; }

	

	#single_cont { float: none; width: 100%; }

	#commentform textarea { max-width: 280px; }

	

	.blog_box_img { width: 300px; height: 158px; position: relative; }

	.blog_box_img img { width: 300px; height: 158px; }	

	.blog_box_img_hover { top: 10px; left: 10px; width: 260px; height: 138px; padding: 0 10px; }

	.blog_box_img_hover p { font-size: 11px; line-height: 18px; }

	body{ overflow:hidden;}

	
	.highlight{
		visibility: visible;
		z-index: 1;
	}
	.rayita{
		border-left: 1px solid rgb(241, 96, 82) !important;
	}

}